[tool.poetry]
name = "spiffe"
version = "0.1.1"
description = "Python library for SPIFFE support"
authors = ["Max Lambrecht <maxlambrecht@gmail.com>"]
readme = "README.md"
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9" # >= 3.9, < 4.0
grpcio = "^1.62"
cryptography = "^42.0"
pyjwt = { version = "^2.0", extras = ["crypto"] }
pyasn1 = "~0.6.0"
pyasn1-modules = "~0.4.0"
pem = "^23.0"

[tool.poetry.dev-dependencies]
black = "^24.3"
mypy = "^1.9"
mypy-protobuf = "^3.0"
pytest = "^8.1"
pytest-mock = "^3.0"
pre-commit = "^3.7"
flake8 = "^7.0"
testutils = { path = "../testutils" }

[build-system]
requires = ["poetry-core>=1.9.0"]
build-backend = "poetry.core.masonry.api"

# Tool configurations
[tool.black]
line-length = 95
skip-string-normalization = true
target-version = ['py39']
exclude = '''
/(
    src/spiffe/proto
)/
'''

[tool.mypy]
ignore_missing_imports = true
files = ["src", "tests"]

[tool.pytest.ini_options]
addopts = [
    "--doctest-modules",
]
testpaths = [
    "tests",
]
