.venv/*
*.pyc
__pycache__
.idea/*
.vscode
*.log
*/dist/*
*/_build/*
*/build/*
# setuptools output (*/build/* only matches one path segment under build/)
**/build/
**/dist/
reports/*
.coverage
.tox/
*.egg-info/
*.egg
.eggs/
.python-version
.env
*~
