repos:
  - repo: local
    hooks:
      - id: uv-lock
        name: Update uv.lock files if dependencies have changed
        entry: ./scripts/lock-dependencies.sh
        language: script
        pass_filenames: false
        always_run: true

      - id: make-pre-commit
        name: Run Make Pre-commit Target
        entry: make pre-commit
        language: system
        pass_filenames: false
        always_run: true
