[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "~=1.36.1"
grpcio-tools = "~=1.36.1"
requests = "~=2.25.0"
python-json-logger = "~=0.1.11"
cryptography = "~=3.4.4"
pyjwt = {version = "~=2.1.0", extras = ["crypto"]}
pyasn1 = "~=0.4.8"
pem = "~=21.1.0 "

[requires]
python_version = "3.6"

[dev-packages]
black = "==21.5b2"
mypy = "==0.901"
mypy-protobuf = "==2.4"
types-protobuf = "0.1.11"
pre-commit = "==1.18.1"
tox = "~=3.20.1"
sphinx = "~=3.4.3"
pytest = "==6.2.1"
pytest-mock = "~=3.5.1"
flake8 = "==3.8.4"
