[tool.poetry]
name = "spiffe-tls"
version = "0.2.2"
description = "TLS Support using SPIFFE"
authors = ["Max Lambrecht <maxlambrecht@gmail.com>"]
readme = "README.md"
license = "Apache-2.0"
repository = "https://github.com/HewlettPackard/py-spiffe"

packages = [
    { include = "spiffetls", from = "src" },
]
include = [
  { path = "src/spiffetls/py.typed", format = "wheel" },
  { path = "src/spiffetls/py.typed", format = "sdist" },
]

[tool.poetry.dependencies]
python = "^3.10"  # >= 3.10, < 4.0
spiffe = "~0.2.3"
pyOpenSSL = ">=24,<26"
idna = "^3.0"

[tool.poetry.dev-dependencies]
black = "^25.12"
mypy = "^1.19"
mypy-protobuf = "^5.0"
types-pyOpenSSL = "^24.1"
pytest = "^9.0"
pytest-mock = "^3.15"
pre-commit = "^4.5"
flake8 = "^7.3"
testutils = { path = "../testutils" }

[build-system]
requires = ["poetry-core>=1.9.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = true
files = ["src", "tests"]


[tool.black]
skip-string-normalization = true
target-version = ['py310']


[tool.pytest.ini_options]
addopts = [
    "--doctest-modules",
]
testpaths = [
    "tests",
]
