name: Build

on:
  push:
    paths-ignore:
      - '**/README.md'
  pull_request:
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install 3.10

      - name: Install Dependencies
        run: make deps

      - name: Lint with pre-commit
        run: make lint

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13"]
    env:
      SPIFFE_ENDPOINT_SOCKET: unix:/tmp/spire-agent/public/api.sock

    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true

      - name: Install Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install Dependencies
        run: make deps

      - name: Build
        run: make build

      - name: Run Tests
        run: make test

      - name: Start SPIRE
        run: .github/workflows/scripts/run-spire.sh &

      - name: Run Integration Tests
        run: make integration

      - name: Clean up SPIRE
        run: .github/workflows/scripts/cleanup-spire.sh
